In [2]:
import numpy as np
import pandas as pd

In [3]:
data = pd.read_excel('anova_lab_data.xlsx', sheet_name = 'data_collected')

In [4]:
import statsmodels.api as sm
from statsmodels.formula.api import ols

In [5]:
data.head()

  Power   Etching Rate
0  160 W          5.43
1  180 W          6.24
2  200 W          8.79
3  160 W          5.71
4  180 W          6.71

In [6]:
data.head(20)

   Power   Etching Rate
0   160 W          5.43
1   180 W          6.24
2   200 W          8.79
3   160 W          5.71
4   180 W          6.71
5   200 W          9.20
6   160 W          6.22
7   180 W          5.98
8   200 W          7.90
9   160 W          6.01
10  180 W          5.66
11  200 W          8.15
12  160 W          5.59
13  180 W          6.60
14  200 W          7.55

In [9]:
data = data.rename(columns = {'Etching Rate':'etching_rate', 'Power ':'power'})

In [10]:
model=ols('etching_rate ~ C(power)', data=data).fit()

In [11]:
results_table=sm.stats.anova_lm(model)

In [12]:
results_table

            df     sum_sq   mean_sq          F    PR(>F)
C(power)   2.0  18.176653  9.088327  36.878955  0.000008
Residual  12.0   2.957240  0.246437        NaN       NaN

In [14]:
data.groupby('power').describe().unstack(1)

                     power
etching_rate  count  160 W    5.000000
                     180 W    5.000000
                     200 W    5.000000
              mean   160 W    5.792000
                     180 W    6.238000
                     200 W    8.318000
              std    160 W    0.319875
                     180 W    0.434304
                     200 W    0.669604
              min    160 W    5.430000
                     180 W    5.660000
                     200 W    7.550000
              25%    160 W    5.590000
                     180 W    5.980000
                     200 W    7.900000
              50%    160 W    5.710000
                     180 W    6.240000
                     200 W    8.150000
              75%    160 W    6.010000
                     180 W    6.600000
                     200 W    8.790000
              max    160 W    6.220000
                     180 W    6.710000
                     200 W    9.200000
dtype: float64