In [1]:
import numpy as np
import pandas as pd

In [6]:
data = pd.read_excel('anova_class_example_data.xlsx', sheet_name = 'data_collected')

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 2 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Display_design             20 non-null     int64
 1   Percent_increase_in_sales  20 non-null     int64
dtypes: int64(2)
memory usage: 448.0 bytes

In [8]:
data.describe()

       Display_design  Percent_increase_in_sales
count       20.000000                  20.000000
mean         2.500000                 617.750000
std          1.147079                  61.648302
min          1.000000                 530.000000
25%          1.750000                 573.750000
50%          2.500000                 605.000000
75%          3.250000                 659.500000
max          4.000000                 725.000000

In [12]:
data.head(20)

    Display_design  Percent_increase_in_sales
0                1                        575
1                2                        565
2                3                        600
3                4                        725
4                1                        542
5                2                        593
6                3                        651
7                4                        700
8                1                        530
9                2                        590
10               3                        610
11               4                        715
12               1                        539
13               2                        579
14               3                        637
15               4                        685
16               1                        570
17               2                        610
18               3                        629
19               4                        710

In [13]:
data['Display_design'].unique()

array([1, 2, 3, 4], dtype=int64)

In [14]:
import statsmodels.api as sm
from statsmodels.formula.api import ols

In [15]:
model=ols('Percent_increase_in_sales ~ C(Display_design)', data=data).fit()

In [16]:
results_table=sm.stats.anova_lm(model)

In [19]:
results_table

# PR(>F) is the classic p value

                     df    sum_sq       mean_sq          F        PR(>F)
C(Display_design)   3.0  66870.55  22290.183333  66.797073  2.882866e-09
Residual           16.0   5339.20    333.700000        NaN           NaN